.cart-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    gap: 15px;
    border-radius: 16px;
    height: 25vh;
    width: 80%;
    position: relative;
}
.cart-image{
    height: 80%;
    object-fit: contain;
    flex: 2;
    margin: 20px;
}
.cart-input{
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    width: 50px;
}
.cart-item-total{
    flex: 3;
    text-align: right;
    margin: 10px;
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
    width: 100%;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.cart-name{
    flex: 4;
    font-size: 1.5rem;
    font-weight: bold;
}
.cart-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.all-cart-total{
    font-weight: bold;
    font-size: 2rem;
    text-align: end;
    margin: 10px;
    color: red;
    margin-bottom: 70px;
}
.confirm-order-btn{
    background-color: orangered;
    color: white;
    border: 1px outset red;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.confirm-order-btn:hover{
    background-color: white;
    color: orangered;
}
/* .order-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 95vw;
    margin: auto;
    gap: 15px;
    margin-bottom: 10px;
    border-radius: 16px;
}
.order-description{
    border: 1px solid gray;
} */
 .order-table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
    max-width: 95vw;
    margin: auto;
}

.order-table th,
.order-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    vertical-align:middle;
    text-align: center;
}

.order-table th {
    background-color: #f9f9f9;
    font-weight: bold;
}
.order-op-buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.order-update-button, .order-cancel-button{
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}
.order-cancel-button{
    background-color: rgb(255, 37, 37);
}
.order-update-button{
    background-color: rgb(26, 125, 255);
}
@media (max-width:750px) {
        .cart-item-container{
            width: 90%;
            height: auto;
            flex-direction: column;
        }
        .cart-image{
            margin: 0px;
            width: 80%;
        }
        .cart-name, .cart-item-total{
            margin: 5px;
            text-align: center;
        }
        .cart-input{
            padding: 10px;
        }
}